In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

#### Reading the Dataset

In [3]:
dataset = pd.read_csv('Travel.csv')
dataset

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

#### Data Cleaing

In [7]:
dataset.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [27]:
dataset['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [29]:
dataset['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [31]:
dataset['Occupation'].value_counts()

Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64

In [33]:
dataset['ProductPitched'].value_counts()

ProductPitched
Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: count, dtype: int64

In [35]:
dataset['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [37]:
dataset['Designation'].value_counts()

Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [25]:
dataset['Gender'] = dataset['Gender'].replace('Fe Male','Female')
dataset['MaritalStatus']= dataset['MaritalStatus'].replace('Single','Unmarried')

In [39]:
dataset.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

#### Filling all the Null Values in the Dataset

In [41]:
med = dataset['MonthlyIncome'].median()
dataset['MonthlyIncome'] = dataset['MonthlyIncome'].fillna(med)

In [43]:
mean = dataset['Age'].mean()
dataset['Age'] = dataset['Age'].fillna(mean)

In [45]:
mode = dataset['TypeofContact'].mode()[0]
dataset['TypeofContact'] = dataset['TypeofContact'].fillna(mode)

In [51]:
med = dataset['DurationOfPitch'].median()
dataset['DurationOfPitch'] = dataset['DurationOfPitch'].fillna(med)

In [55]:
mode = dataset['NumberOfFollowups'].mode()[0]
dataset['NumberOfFollowups'] = dataset['NumberOfFollowups'].fillna(mode)

In [57]:
mode = dataset['PreferredPropertyStar'].mode()[0]
dataset['PreferredPropertyStar'] = dataset['PreferredPropertyStar'].fillna(mode)

In [61]:
med = dataset['NumberOfTrips'].median()
dataset['NumberOfTrips'] = dataset['NumberOfTrips'].fillna(med)

In [63]:
med = dataset['MonthlyIncome'].median()
dataset['MonthlyIncome'] = dataset['MonthlyIncome'].fillna(med)

In [67]:
med = dataset['NumberOfChildrenVisiting'].median()
dataset['NumberOfChildrenVisiting'] = dataset['NumberOfChildrenVisiting'].fillna(med)

In [69]:
dataset.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

## Reducing the number of columns

In [73]:
dataset.drop('CustomerID',axis=1,inplace=True)

In [75]:
dataset['TotalVistingPeople'] = dataset['NumberOfChildrenVisiting'] + dataset['NumberOfPersonVisiting']
dataset.drop(['NumberOfChildrenVisiting','NumberOfPersonVisiting'],axis=1,inplace=True)

In [77]:
dataset.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVistingPeople
0,1,41.000000,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.000000,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.000000,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.000000,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,37.622265,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

### Now the Dataset is cleaned , split the Data into X,y for Model Training

In [82]:
X= dataset.drop('ProdTaken',axis=1)
y= dataset['ProdTaken']

In [84]:
X.shape

(4888, 17)

In [86]:
numerical_features = X.select_dtypes(exclude=object).columns
categorical_features = X.select_dtypes(include=object).columns

In [90]:
print(numerical_features)
print(categorical_features)

Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups',
       'PreferredPropertyStar', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome',
       'TotalVistingPeople'],
      dtype='object')
Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')

In [92]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((3421, 17), (1467, 17), (3421,), (1467,))

### Converting the Categorical data into OneHotEncoded(0,1) and Standaradizing the numerical features

In [97]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

preprocessor= ColumnTransformer([
            ('Standard Scaler',StandardScaler(),numerical_features),
            ('OneHotEncoder',OneHotEncoder(),categorical_features)
            ])
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [105]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,1.164130,-0.714031,-0.649789,0.280718,-0.727208,-1.217370,-0.632714,1.409081,0.781435,0.460318,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,-0.821583,-0.714031,-0.527737,-0.719632,1.768057,1.504605,-0.632714,1.409081,-1.279697,-1.005668,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,-0.931900,-0.714031,-0.161582,1.281068,1.768057,-0.672975,1.580492,-0.046813,0.781435,-1.209722,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,-0.931900,1.470853,-0.771841,0.280718,0.520424,-0.128580,1.580492,-0.046813,0.781435,-0.017750,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.380313,-0.714031,-0.527737,1.281068,0.520424,2.593396,-0.632714,0.681134,-1.279697,-0.423411,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3416,-1.042218,-0.714031,-0.649789,1.281068,-0.727208,-0.672975,-0.632714,-1.502707,0.781435,-0.531926,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3417,0.391908,1.470853,-0.893893,-0.719632,1.768057,-1.217370,-0.632714,1.409081,0.781435,1.512744,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3418,0.060956,1.470853,1.547143,0.280718,-0.727208,2.049001,-0.632714,-0.774760,0.781435,-0.357400,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3419,-1.042218,1.470853,1.791246,1.281068,-0.727208,-0.128580,-0.632714,-1.502707,0.781435,-0.250765,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3420,-1.704122,-0.714031,-0.771841,0.280718,-0.727208,-1.217370,1.580492,-0.046813,-1.279697,-1.071680,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [107]:
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,-0.600948,1.470853,-0.283634,1.281068,-0.727208,-1.217370,-0.632714,-0.774760,-1.279697,-0.730338,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.943495,0.378411,-0.527737,0.280718,0.520424,-1.217370,1.580492,1.409081,-1.279697,-0.663950,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.049361,1.470853,0.814832,0.280718,-0.727208,0.960210,-0.632714,1.409081,0.781435,-0.417017,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.612543,-0.714031,2.523557,2.281418,-0.727208,1.504605,-0.632714,-0.046813,0.781435,-0.113100,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,-1.373170,1.470853,-1.015945,0.280718,0.520424,-0.128580,1.580492,0.681134,0.781435,-0.314332,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,2.377621,-0.714031,1.791246,0.280718,-0.727208,-0.128580,-0.632714,-0.046813,0.781435,1.022828,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1463,0.391908,-0.714031,-0.771841,0.280718,-0.727208,0.415815,-0.632714,-1.502707,0.781435,-0.540201,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1464,-0.269996,-0.714031,1.303039,0.280718,0.520424,1.504605,-0.632714,-0.046813,0.781435,-0.080752,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1465,1.384765,-0.714031,-1.015945,0.280718,-0.727208,1.504605,-0.632714,-0.046813,0.781435,1.975766,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1466,1.164130,-0.714031,-1.137996,0.280718,1.768057,-1.217370,-0.632714,0.681134,-1.279697,1.288380,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

## Model Training

In [122]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-3.0.0-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from xgboost) (1.13.1)
Downloading xgboost-3.0.0-py3-none-win_amd64.whl (150.0 MB)
   ---------------------------------------- 0.0/150.0 MB ? eta -:--:--
   ---------------------------------------- 1.8/150.0 MB 10.1 MB/s eta 0:00:15
   - -------------------------------------- 3.9/150.0 MB 9.8 MB/s eta 0:00:15
   - -------------------------------------- 6.6/150.0 MB 10.6 MB/s eta 0:00:14
   -- ------------------------------------- 9.7/150.0 MB 12.1 MB/s eta 0:00:12
   --- ------------------------------------ 13.6/150.0 MB 13.4 MB/s eta 0:00:11
   ---- ----------------------------------- 16.3/150.0 MB 13.1 MB/s eta 0:00:11
   ----- ---------------------------------- 20.2/150.0 MB 14.0 MB/s eta 0:00:10
   ------ --------------------------------- 23.1/150.0 MB 13.9 MB/s eta 0:00:10
   ------- -------------------------------- 26.7/150.0 MB 14.5 MB/s eta 0:00:09
   -------- ------------------------------- 30.7/150.0 MB 14.9 MB/s eta 0:00:09
   --------- ------------------------------ 33.8/150.0 MB 14.9 MB/s eta 0:00:08
   --------- ------------------------------ 37.2/150.0 MB 15.0 MB/s eta 0:00:08
   ---------- ----------------------------- 40.1/150.0 MB 14.9 MB/s eta 0:00:08
   ----------- ---------------------------- 44.3/150.0 MB 15.3 MB/s eta 0:00:07
   ------------ --------------------------- 48.0/150.0 MB 15.4 MB/s eta 0:00:07
   ------------- -------------------------- 51.6/150.0 MB 15.6 MB/s eta 0:00:07
   -------------- ------------------------- 55.1/150.0 MB 15.6 MB/s eta 0:00:07
   --------------- ------------------------ 57.9/150.0 MB 15.5 MB/s eta 0:00:06
   ---------------- ----------------------- 61.9/150.0 MB 15.8 MB/s eta 0:00:06
   ----------------- ---------------------- 65.8/150.0 MB 15.9 MB/s eta 0:00:06
   ------------------ --------------------- 70.5/150.0 MB 16.2 MB/s eta 0:00:05
   ------------------- -------------------- 74.7/150.0 MB 16.3 MB/s eta 0:00:05
   -------------------- ------------------- 78.6/150.0 MB 16.4 MB/s eta 0:00:05
   ---------------------- ----------------- 82.8/150.0 MB 16.6 MB/s eta 0:00:05
   ----------------------- ---------------- 87.0/150.0 MB 16.7 MB/s eta 0:00:04
   ------------------------ --------------- 91.0/150.0 MB 16.8 MB/s eta 0:00:04
   ------------------------- -------------- 94.1/150.0 MB 16.7 MB/s eta 0:00:04
   -------------------------- ------------- 98.3/150.0 MB 16.8 MB/s eta 0:00:04
   -------------------------- ------------ 102.2/150.0 MB 16.9 MB/s eta 0:00:03
   --------------------------- ----------- 106.4/150.0 MB 17.0 MB/s eta 0:00:03
   ---------------------------- ---------- 110.9/150.0 MB 17.1 MB/s eta 0:00:03
   ----------------------------- --------- 114.6/150.0 MB 17.1 MB/s eta 0:00:03
   ------------------------------- ------- 119.3/150.0 MB 17.3 MB/s eta 0:00:02
   -------------------------------- ------ 123.5/150.0 MB 17.4 MB/s eta 0:00:02
   --------------------------------- ----- 127.7/150.0 MB 17.5 MB/s eta 0:00:02
   ---------------------------------- ---- 132.4/150.0 MB 17.6 MB/s eta 0:00:01
   ----------------------------------- --- 136.8/150.0 MB 17.7 MB/s eta 0:00:01
   ------------------------------------ -- 141.8/150.0 MB 17.9 MB/s eta 0:00:01
   ------------------------------------- - 145.5/150.0 MB 17.9 MB/s eta 0:00:01
   --------------------------------------  148.9/150.0 MB 17.9 MB/s eta 0:00:01
   --------------------------------------  149.9/150.0 MB 17.9 MB/s eta 0:00:01
   --------------------------------------- 150.0/150.0 MB 17.2 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-3.0.0

In [124]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,f1_score,recall_score,average_precision_score
models = {
    "Random Forest":RandomForestClassifier(), 
    "Decision Tree": DecisionTreeClassifier(),
    "K Neighbours" : KNeighborsClassifier(),
    "Adaboost": AdaBoostClassifier(),
    "XGBoost":XGBClassifier()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    y_pred_train= model.predict(X_train)
    y_pred_test = model.predict(X_test)

    ####Training Data Metrics
    accuracy_train = accuracy_score(y_train,y_pred_train)
    f1_train = f1_score(y_train,y_pred_train)
    recall_train = recall_score(y_train,y_pred_train)
    Precision_train = average_precision_score(y_train,y_pred_train)

     ####Testing Data Metrics
    accuracy_test = accuracy_score(y_test,y_pred_test)
    f1_test = f1_score(y_test,y_pred_test)
    recall_test = recall_score(y_test,y_pred_test)
    Precision_test = average_precision_score(y_test,y_pred_test)

    print(list(models.keys())[i])
    print("<----------------Training Data Metrics------------------->")
    print(f"Train Accuracy :{accuracy_train}")
    print(f"Train F1 Score :{f1_train}")
    print(f"Train Recall Score :{recall_train}")
    print(f"Train Precision Score :{Precision_train}\n")
    print("<----------------Testing Data Metrics------------------->")
    print(f"Test Accuracy :{accuracy_test}")
    print(f"Test F1 Score :{f1_test}")
    print(f"Test Recall Score :{recall_test}")
    print(f"Test Precision Score :{Precision_test}")
    print("==========================================================")
    print("\n")

Random Forest
<----------------Training Data Metrics------------------->
Train Accuracy :1.0
Train F1 Score :1.0
Train Recall Score :1.0
Train Precision Score :1.0

<----------------Testing Data Metrics------------------->
Test Accuracy :0.918200408997955
Test F1 Score :0.7321428571428571
Test Recall Score :0.5985401459854015
Test Precision Score :0.6391242454392644
==========================================================


Decision Tree
<----------------Training Data Metrics------------------->
Train Accuracy :1.0
Train F1 Score :1.0
Train Recall Score :1.0
Train Precision Score :1.0

<----------------Testing Data Metrics------------------->
Test Accuracy :0.9032038173142468
Test F1 Score :0.7436823104693141
Test Recall Score :0.7518248175182481
Test Precision Score :0.5994813601705367
==========================================================


K Neighbours
<----------------Training Data Metrics------------------->
Train Accuracy :0.9389067524115756
Train F1 Score :0.8221276595744681
Train Recall Score :0.7476780185758514
Train Precision Score :0.730309425574873

<----------------Testing Data Metrics------------------->
Test Accuracy :0.8902522154055896
Test F1 Score :0.6430155210643016
Test Recall Score :0.5291970802919708
Test Precision Score :0.5214575922048015
==========================================================

D:\Anaconda\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:527: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

Adaboost
<----------------Training Data Metrics------------------->
Train Accuracy :0.8555977784273604
Train F1 Score :0.49385245901639346
Train Recall Score :0.37306501547987614
Train Precision Score :0.3908369480194115

<----------------Testing Data Metrics------------------->
Test Accuracy :0.8350374914792092
Test F1 Score :0.4265402843601896
Test Recall Score :0.3284671532846715
Test Precision Score :0.32516957869606655
==========================================================


XGBoost
<----------------Training Data Metrics------------------->
Train Accuracy :0.9997076878105817
Train F1 Score :0.9992254066615027
Train Recall Score :0.9984520123839009
Train Precision Score :0.9987443245733192

<----------------Testing Data Metrics------------------->
Test Accuracy :0.929107021131561
Test F1 Score :0.7903225806451613
Test Recall Score :0.7153284671532847
Test Precision Score :0.6847209934398147
==========================================================

### Taking the Two Models which are having the highest Accuracy(Random Forest and XGBoost)

In [128]:
rf={
    'n_estimators':[100,200,300,400,500,800,900],
    'criterion':['gini', 'entropy', 'log_loss'],
    'max_depth':[1,2,3,4,5,6,7,8,9,10],
    'max_features':['sqrt', 'log2']
}

xg={
    'sampling_method':['uniform','subsample','gradient_based'],
    'max_depth':[10,15,20,35,40],
    'verbosity':[0,1,2,3,4] 
}

In [130]:
randomcvmodels=[
     ("RF",RandomForestClassifier(),rf),
    ("XG",XGBClassifier(),xg)
]

### Finding the Best Parameters using RandomizedSearchCV

In [146]:
from sklearn.model_selection import RandomizedSearchCV
import warnings
warnings.filterwarnings('ignore')
model_param={}
for name,model,params in randomcvmodels:
    randommodel = RandomizedSearchCV(estimator=model,param_distributions=params,n_jobs=-1,n_iter=100,cv=5)
    randommodel.fit(X_train,y_train)

    model_param[name]= randommodel.best_params_

    for i in range(len(model_param)):
        print(list(model_param.keys())[i])
        print(list(model_param.values())[i])

RF
{'n_estimators': 800, 'max_features': 'log2', 'max_depth': 10, 'criterion': 'gini'}
RF
{'n_estimators': 800, 'max_features': 'log2', 'max_depth': 10, 'criterion': 'gini'}
XG
{'verbosity': 0, 'sampling_method': 'uniform', 'max_depth': 10}

In [144]:
models = {
    "Random Forest":RandomForestClassifier(n_estimators=200,max_features='sqrt',max_depth=10,criterion='gini'),
    "XGBoost":XGBClassifier()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    y_pred_train= model.predict(X_train)
    y_pred_test = model.predict(X_test)

    ####Training Data Metrics
    accuracy_train = accuracy_score(y_train,y_pred_train)
    f1_train = f1_score(y_train,y_pred_train)
    recall_train = recall_score(y_train,y_pred_train)
    Precision_train = average_precision_score(y_train,y_pred_train)

     ####Testing Data Metrics
    accuracy_test = accuracy_score(y_test,y_pred_test)
    f1_test = f1_score(y_test,y_pred_test)
    recall_test = recall_score(y_test,y_pred_test)
    Precision_test = average_precision_score(y_test,y_pred_test)

    print(list(models.keys())[i])
    print("<----------------Training Data Metrics------------------->")
    print(f"Train Accuracy :{accuracy_train}")
    print(f"Train F1 Score :{f1_train}")
    print(f"Train Recall Score :{recall_train}")
    print(f"Train Precision Score :{Precision_train}\n")
    print("<----------------Testing Data Metrics------------------->")
    print(f"Test Accuracy :{accuracy_test}")
    print(f"Test F1 Score :{f1_test}")
    print(f"Test Recall Score :{recall_test}")
    print(f"Test Precision Score :{Precision_test}")
    print("==========================================================")
    print("\n")

Random Forest
<----------------Training Data Metrics------------------->
Train Accuracy :0.9432914352528501
Train F1 Score :0.8236363636363636
Train Recall Score :0.7012383900928792
Train Precision Score :0.7561100646988644

<----------------Testing Data Metrics------------------->
Test Accuracy :0.8847989093387867
Test F1 Score :0.582716049382716
Test Recall Score :0.4306569343065693
Test Precision Score :0.49425945492994994
==========================================================


XGBoost
<----------------Training Data Metrics------------------->
Train Accuracy :0.9997076878105817
Train F1 Score :0.9992254066615027
Train Recall Score :0.9984520123839009
Train Precision Score :0.9987443245733192

<----------------Testing Data Metrics------------------->
Test Accuracy :0.929107021131561
Test F1 Score :0.7903225806451613
Test Recall Score :0.7153284671532847
Test Precision Score :0.6847209934398147
==========================================================